.ima img{
    width: 20px;
    color: aliceblue;
}
.logo
{
    width: 10vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

body{
    background-color:#EEF0F2;
    font-family: "Poppins", serif;
    font-size: 16px;
}
.tnav
{
    background-color: #fff;
    /* height: 10vh; */
    /* z-index: 9; */
    /* position: relative; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;


}
.navbar
{
    background-color: #fff;

}
.ns
{
    width: 100%;
    height: 100%;
}

.ima img
{
    width: 30px;
}
.navp
{
    font-size: 18px;
    font-weight: 500;
}
.navp2
{
    font-size: 12px;
    color: gray;
    font-weight: 400;
}

.megan
{
    font-size: 14px;
    font-weight: 500;
}

.m2
{
    color: gray;
    font-weight: 300;
}

/* --------------------------Sidebar------------------------------ */

.sidebar {
    min-width: 240px;
    padding-top: 1rem;
    display: flex;
        flex-direction: column;
        font-size: 14px;

    }
    .dash
    {
        width: 100%;
        font-size: 14px;
        font-weight: 400;
    }
    
    .nav-item2
    {
        width: 100%;
    }
    .nav-item2 a{
        width: 100%;
    }
    
    .dash img
    {
        width: 30px;
        float: right;
    }
    .card-size
    {
        width:18.8rem; 
        /* padding: 1px !important; */
    }
    /* -----------------MAIN AREA------------------------- */
    .mob
    {
        width: 35%;
    }
    .mob p
    {
        font-weight: 400;
        font-size: 17px;
    }
    .gri
    {
        font-size: 12px;
    }
    .cardf
    {
        background-color: #FFFFFF;
        /* padding: 5px !important; */
    }
    
    .git img
    {
        width: 25px;
    }

    .gitbg
    {
        background-color: #EEF0F2;
        border-color:#C5C5C5 !important ;
        object-fit: fill;
        box-sizing: content-box;
    }


    .form-check-input 
    {
        width: 1.3em;
        height: 1.3em;
    }

    input, select ,textarea{
        width: 100%;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
        color: gray;
    }
    
    
    .outline
    {
        outline: none;
        border: none    ;
    }

    .popover-body   
    {
    background-color: #2f495a;
    color: #fff;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    }

    .popover-arrow::after 
    {
    border-bottom-color:#2f495a !important; /* Matches popover background */
    }
    .d1:hover
    {
        background-color: #0745F9;
    }
    .icon img
    {
        height: 24px;
    }
 
/* -----------------Pageignitaion------------------------ */
    .pp img
{
    width: 15PX;   
    border-radius: 50%; 

}
.pagee
{
    float: right;
}
.pageing a ,li
{
    border-radius: 50%; 
    width: 35PX;   
}
.p1
{
    background-color: #0745F9  !important;
    color: #fff;
}
.page-item:last-child .page-link {
    border: none !important;

}

.page-item:first-child .page-link {
    border: none !important;
}


.hover-outline:hover
 {
    border-color: #6A8FFB !important;
  }

  @media (max-width:321px)
{
    .mainhead
    {
        flex-direction: column;
    }
}
    
